html
  head
    title Przykładowa strona do logowania
    link(
      rel="stylesheet" 
      href="index.css"
    )
  body
    h3 To jest przykładowa strona, która przekieruje Cię na ekran logowania Google
    .button-wrapper
      a(href='/auth/google') Przejdź