html
  head
    title Przykładowa strona do logowania
    link(
      rel="stylesheet" 
      href="log_info.css"
    )
  body
    h3 Dziękujemy za Twoje dane logowania!
    h3 Postaramy się wykorzystać je z jak największą korzyścią dla nas!
    img(src='thank_you.png' alt='thank you')
    include ./footer.pug